.MeetingPoint{
  background-color: #6E4B92;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 10%;
  font-family: Tahoma;
  font-size: calc(10px + 2vmin);
  padding: 30px;
  overflow-y: hidden; 
  overflow-x: hidden; 
  /* border: 10px solid #ff0000; */
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; 
}