.UserPhotos{
  background-color: #6E4B92;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 10%;
  font-family: Tahoma;
  font-size: calc(10px + 2vmin);
}
img {
  width: 50%;
}
@media only screen and (max-width: 500px) {
  img {
    width: 100%;
    padding-bottom: 20px;
  }
}
.images-div{
  width:50%;
}
.btn{
  font-family: Tahoma;
  background-color: #3B5998;
  color: white;
  border: 1px solid white;
}

.images-box{
  width: 40%; 
  min-height: 100px
}